{%- assign social_icons = false -%}
{%- assign menu_enabled = false -%}

{% if
  settings.social_twitter_link != blank
  or settings.social_facebook_link != blank
  or settings.social_pinterest_link != blank
  or settings.social_instagram_link != blank
  or settings.social_tumblr_link != blank
  or settings.social_snapchat_link != blank
  or settings.social_youtube_link != blank
  or settings.social_vimeo_link != blank
  or template.name == 'article'
  or template.name == 'blog'
%}
  {%- assign social_icons = true -%}
{% endif %}

{%- for block in section.blocks -%}
  {%- if block.type == 'menu' -%}
    {%- assign menu_enabled = true -%}
  {%- endif -%}
{%- endfor -%}

<footer class="site-footer" role="contentinfo" data-section-type="footer" data-section-id="{{ section.id }}" {% if section.settings.enable_parallax %}data-footer-parallax{% endif %} data-section-id="{{ section.id }}" data-section-type="footer">
  <div class="page-width">
    {% if menu_enabled or section.settings.show_newsletter %}
      <div class="flex-footer{% unless section.settings.show_newsletter %} flex-footer--full text-center{% endunless %}">
        {% for block in section.blocks %}
          <div class="flex-footer__item flex-footer__item--{{ block.type }}" {{ block.shopify_attributes }}>
            {% case block.type %}
            {% when 'menu' %}
              {%- assign link_list = block.settings.link_list -%}
              <ul class="site-footer__linklist">
                {% for link in linklists[link_list].links %}
                  <li class="site-footer__linklist-item h6">
                    <a href="{{ link.url }}">{{ link.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endcase %}
          </div>
        {% endfor %}

        {% if section.settings.show_newsletter %}
          <div class="flex-footer__item flex-footer__item--newsletter">
            <div class="site-footer__newsletter">
              {% form 'customer' %}
                <input type="hidden" name="contact[tags]" value="newsletter">
                <label for="NewsletterEmail" class="site-footer__newsletter-label">{{ section.settings.newsletter_heading }}</label>
                <div class="site-footer__newsletter-subheading">{{ section.settings.newsletter_subheading }}</div>
                <div class="input-group--underline">
                  <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_placeholder' | t }}" name="contact[email]" id="NewsletterEmail" class="input-group__field site-footer__newsletter-input" aria-label="{{ 'general.newsletter_form.newsletter_placeholder' | t }}" autocorrect="off" autocapitalize="off">
                  <div class="input-group__btn input-group__btn--newsletter">
                    <button type="submit" class="btn--newsletter__submit">
                      {{ 'general.newsletter_form.submit' | t }}
                      {% include 'icon-arrow-right' %}
                    </button>
                  </div>
                </div>
                <div class="site-footer__newsletter-message" aria-role="alert">
                  {% if form.posted_successfully? %}
                    <p class="form-success" aria-role="alert">{{ 'general.newsletter_form.confirmation' | t }}</p>
                  {% endif %}
                  {{ form.errors | default_errors }}</div>
              {% endform %}
            </div>
          </div>
        {% endif %}
      </div>
    {% endif %}

    <div class="site-footer__bottom{% unless section.settings.show_social_icons or section.settings.show_payment_icons %} site-footer__bottom--center{% endunless %}">
      {% if section.settings.show_social_icons %}
        <div class="site-footer__social-icons flex-footer__item--one-third">
          {% include 'social-links', disableTab: true, largeIcons: false %}
        </div>
      {% endif %}

      <div class="site-footer__copyright flex-footer__item--one-third">
        <small>{{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }}.</small>
        <small class="site-footer__powered-by">{{ powered_by_link }}</small>
      </div>

      {%- if section.settings.show_payment_icons -%}
        <div class="site-footer__payment-icons flex-footer__item--one-third">
          {%- unless shop.enabled_payment_types == empty -%}
            <span class="visually-hidden">{{ 'general.payment.method' | t }}</span>
            <ul class="payment-icons list--inline">
              {%- for type in shop.enabled_payment_types -%}
                <li class="payment-icon">
                  {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                </li>
              {%- endfor -%}
            </ul>
          {%- endunless -%}
        </div>
      {%- endif -%}
    </div>
  </div>

  {% if section.settings.enable_parallax %}
    <div class="site-footer__drawer-cover"></div>
  {% endif %}
</footer>

{% schema %}
{
  "name": {
    "de": "Fußzeile",
    "en": "Footer",
    "es": "Pie de página",
    "fr": "Pied de page",
    "it": "Footer",
    "ja": "フッター",
    "pt-BR": "Rodapé"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "show_social_icons",
      "label": {
        "de": "Social-Media-Symbole anzeigen",
        "en": "Show social icons",
        "es": "Mostrar íconos de redes sociales",
        "fr": "Afficher les icônes de médias sociaux",
        "it": "Mostra icone social",
        "ja": "ソーシャルアイコンを表示する",
        "pt-BR": "Exibir ícones de redes sociais"
      },
      "info": {
        "de": "Geben Sie in den allgemeinen Einstellungen Ihre Social-Media-Links ein",
        "en": "Fill out your social links in the general settings",
        "es": "Completa tus enlaces de redes sociales en la configuración general.",
        "fr": "Remplissez vos liens de médias sociaux dans les paramètres généraux",
        "it": "Inserisci i dati dei link social nelle impostazioni generali.",
        "ja": "一般設定でソーシャルリンクを記入してください。",
        "pt-BR": "Preencha seus links de redes sociais nas configurações gerais"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": {
        "de": "Zahlungssymbole anzeigen",
        "en": "Show payment icons",
        "es": "Mostrar iconos de pago",
        "fr": "Afficher les icônes de paiement",
        "it": "Mostra le icone di pagamento",
        "ja": "支払いアイコンを表示する",
        "pt-BR": "Exibir ícones de pagamento"
      },
      "info": {
        "de": "Aktualisieren Sie unter Einstellungen/Zahlungen Ihre Zahlungseinstellungen",
        "en": "Update your payment settings in your store's Settings / Payments",
        "es": "Actualiza tu configuración de pagos en Configuración/Pagos de tu tienda.",
        "fr": "Mettez à jour vos paramètres de paiement dans les paramètres/paiements de votre boutique",
        "it": "Aggiorna le impostazioni di pagamento nella sezione Impostazioni / Pagamenti del tuo negozio",
        "ja": "ストアの「設定/決済」で決済設定を更新する",
        "pt-BR": "Atualize suas configurações de pagamento nas configurações/pagamentos da sua loja"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_parallax",
      "label": {
        "de": "Aktivieren Sie den Parallax-Effekt für den Fußzeilen-Scroll",
        "en": "Enable footer scrolling parallax effect",
        "es": "Navegación de paralaje para el desplazamiento del pie de página",
        "fr": "Activer l'effet de défilement parallaxe du pied de page",
        "it": "Abilita effetto parallasse scorrimento footer",
        "ja": "フッターのスクロールするパララックス効果を有効にする",
        "pt-BR": "Ativar o efeito de paralaxe de rolagem do rodapé"
      },
      "default": true
    },
    {
      "type": "header",
      "content": {
        "de": "Newsletter",
        "en": "Newsletter",
        "es": "Boletín",
        "fr": "Newsletter",
        "it": "Newsletter",
        "ja": "メールマガジン",
        "pt-BR": "Newsletter"
      }
    },
    {
      "type": "checkbox",
      "id": "show_newsletter",
      "label": {
        "de": "Newsletter Signup anzeigen",
        "en": "Show newsletter signup",
        "es": "Suscríbete al boletín",
        "fr": "Afficher l'inscription à la newsletter",
        "it": "Mostra iscrizione alla Newsletter",
        "ja": "メールマガジンの登録を表示する",
        "pt-BR": "Exibir assinatura da newsletter"
      },
      "default": false
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "label": {
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fr": "Titre",
        "it": "Heading",
        "ja": "見出し",
        "pt-BR": "Título"
      },
      "default": {
        "de": "Registrieren Sie sich für Aktualisierungen",
        "en": "Sign up for updates",
        "es": "Regístrate para recibir actualizaciones",
        "fr": "S'inscrire pour recevoir les mises à jour",
        "it": "Iscriviti per ricevere aggiornamenti",
        "ja": "更新に登録する",
        "pt-BR": "Cadastre-se para receber atualizações"
      }
    },
    {
      "type": "richtext",
      "id": "newsletter_subheading",
      "label": {
        "de": "Unter-Überschrift",
        "en": "Subheading",
        "es": "Subtítulo",
        "fr": "Sous-titre",
        "it": "Sottotitolo",
        "ja": "小見出し",
        "pt-BR": "Subtítulo"
      },
      "default": {
        "de": "<p>Werbeaktionen, neue Produkte und Sonderangebote. Direkt in Ihrem Posteingang.</p>",
        "en": "<p>Promotions, new products and sales. Directly to your inbox.</p>",
        "es": "<p>Promociones, nuevos productos y ventas. Directamente a tu bandeja de entrada.</p>",
        "fr": "<p>Promotions, nouveaux produits et soldes. Directement dans votre boîte de réception.</p>",
        "it": "<p>Promozioni, nuovi prodotti e offerte. Direttamente nella tua inbox.</p>",
        "ja": "<p>プロモーション、新商品、セールについて、あなたの受信箱に直接知らせる。</p>",
        "pt-BR": "<p>Promoções, novos produtos e vendas. Diretamente para sua caixa de entrada.</p>"
      }
    }
  ],
  "blocks": [
    {
      "type": "menu",
      "name": {
        "de": "Menü",
        "en": "Menu",
        "es": "Menú",
        "fr": "Menu",
        "it": "Menu",
        "ja": "メニュー",
        "pt-BR": "Menu"
      },
      "limit": 2,
      "settings": [
        {
          "id": "link_list",
          "type": "link_list",
          "label": {
            "de": "Menü",
            "en": "Menu",
            "es": "Menú",
            "fr": "Menu",
            "it": "Menu",
            "ja": "メニュー",
            "pt-BR": "Menu"
          },
          "default": "footer",
          "info": {
            "de": "Dieses Menü zeigt keine Dropdowns an",
            "en": "This menu won't show dropdown items",
            "es": "Este menú no mostrará elementos desplegables",
            "fr": "Ce menu n'affichera pas les éléments des menus déroulants",
            "it": "Questo menu non mostrerà elementi a discesa",
            "ja": "このメニューにはドロップダウンアイテムは表示されません",
            "pt-BR": "Este menu não mostra itens suspensos"
          }
        }
      ]
    }
  ]
}
{% endschema %}
