<div class="password-main text-center page-width" role="main" data-section-id={{ section.id }} data-section-type="password-content">
  <h2>{{ section.settings.header }}</h2>

  <p>{{ shop.password_message }}</p>

  {% if section.settings.newsletter_enable %}
    <div class="password-signup">
      {% form 'customer' %}
      {{ form.errors | default_errors }}
      {% if form.posted_successfully? %}
        <ul class="form-success">
          <li>{{ 'general.password_page.signup_form_success' | t }}</li>
        </ul>
      {% else %}
        <h4 class="password-sub-heading">{{ section.settings.newsletter_form_heading }}</h4>
        {% unless section.settings.newsletter_form_subheading == blank %}
          <div class="password-newsletter-subheading rte">
            {{ section.settings.newsletter_form_subheading }}
          </div>
        {% endunless %}
        <input type="hidden" name="contact[tags]" value="prospect, password page">
        <label for="email" class="label--hidden">{{ 'general.password_page.signup_form_email_label' | t }}</label>
        <div class="input-group">
          <div class="input-group__field">
            <input type="email" name="contact[email]" id="email" placeholder="{{ section.settings.newsletter_placeholder }}">
          </div>
          <div class="password-form-btn input-group__btn">
            <button type="submit" name="commit" class="btn">{{ section.settings.newsletter_button_text }}</button>
          </div>
        </div>
      {% endif %}
      {% endform %}
    </div>
  {% endif %}

  {% if section.settings.show_share_buttons %}
    <div class="password-social-sharing">
      <p class="password-sub-heading h4">{{ section.settings.social_message }}</p>
      {% include 'social-links', disableTab: true, largeIcons: true %}
    </div>
  {% endif %}

  <div class="password-sub-action">
    <button class="btn btn--clear password__open-modal" aria-expanded="false">
      {{ 'general.password_page.password_link' | t }}
      {% include 'icon-arrow-right' %}
    </button>
  </div>
</div>

<div class="password-modal">
  <button type="button" class="btn btn--clear password-modal__close">
    {% include 'icon-close' %}
    <span class="icon__fallback-text">{{ 'general.password_page.close_modal' | t | json }}</span>
  </button>
  <div class="password-modal__content text-center">
    <h4 class="password-sub-heading">{{ 'general.password_page.login_form_heading' | t }}</h4>
    <div class="password-login">
      {% form 'storefront_password' %}
      {{ form.errors | default_errors }}
      <div class="input-group">
        <div class="input-group__field">
          <label for="password" class="label--hidden">{{ 'general.password_page.login_form_password_label' | t }}</label>
          <input class='password-modal__input' type="password" name="password" id="password" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
        </div>
        <div class="input-group__btn">
          <button type="submit" name="commit" class="btn">
            {{ 'general.password_page.login_form_submit' | t }}
          </button>
        </div>
      </div>
      {% endform %}
      <div class="password-sub-action">
        <p>{{ 'general.password_page.admin_link_html' | t }}</p>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": {
    "de": "Inhalt",
    "en": "Content",
    "es": "Contenido",
    "fr": "Contenu",
    "it": "Contenuto",
    "ja": "コンテンツ",
    "pt-BR": "Conteúdo"
  },
  "settings": [
    {
      "type": "text",
      "id": "header",
      "label": {
        "de": "Überschrift",
        "en": "Heading",
        "es": "Título",
        "fr": "Titre",
        "it": "Heading",
        "ja": "見出し",
        "pt-BR": "Título"
      },
      "default": {
        "de": "Eröffnet demnächst",
        "en": "Opening Soon",
        "es": "Apertura próximamente",
        "fr": "Ouverture prochaine",
        "it": "Prossima apertura",
        "ja": "間もなく公開",
        "pt-BR": "Abertura em breve"
      }
    },
    {
      "type": "header",
      "content": {
        "de": "Newsletter-Anmeldung",
        "en": "Newsletter signup",
        "es": "Suscripción al boletín",
        "fr": "Inscription à la newsletter",
        "it": "Iscrizione alla Newsletter",
        "ja": "メールマガジンの登録",
        "pt-BR": "Assinatura da newsletter"
      }
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "label": {
        "de": "Newsletter-Anmeldung anzeigen",
        "en": "Show newsletter signup",
        "es": "Mostrar suscripción al boletín",
        "fr": "Afficher l'inscription à la newsletter",
        "it": "Mostra iscrizione alla newsletter",
        "ja": "メールマガジンの登録を表示する",
        "pt-BR": "Exibir assinatura da newsletter"
      },
      "default": true
    },
    {
      "type": "text",
      "id": "newsletter_form_heading",
      "label": {
        "de": "Überschrift für Newsletter-Formular",
        "en": "Newsletter form heading",
        "es": "Título del formulario del boletín",
        "fr": "Titre du formulaire de la newsletter",
        "it": "Titolo del modulo della newsletter",
        "ja": "メールマガジンフォームの見出し",
        "pt-BR": "Título do formulário da newsletter"
      },
      "default": {
        "de": "Herausfinden, wann wir öffnen",
        "en": "Find out when we open",
        "es": "Averigua cuándo abrimos",
        "fr": "Restez au courant de notre date de lancement",
        "it": "Scopri quando apriamo",
        "ja": "開店を知らせる",
        "pt-BR": "Fique por dentro quando abrirmos a loja"
      },
      "info": {
        "de": "[Informieren Sie Ihre Besucher über den Eröffnungstermin](https://www.shopify.ca/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "en": "[Tell your visitors about the launch date](https://www.shopify.ca/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "es": "[Informa a tus visitantes sobre el día de lanzamiento](https://www.shopify.ca/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "fr": "[Annoncez la date de lancement à vos visiteurs](https://fr.shopify.com/blog/15514000-14-manieres-dutiliser-les-codes-promo-bons-de-reduction-coupons-et-remises-pour-generer-des-revenus-et-fideliser-les-clients).",
        "it": "[Informa i visitatori sulla data del lancio](https://www.shopify.ca/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "ja": "[訪問者に公開日ついて伝える](https://www.shopify.ca/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)。",
        "pt-BR": "[Informe seus visitantes sobre a data de lançamento](https://www.shopify.ca/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)."
      }
    },
    {
      "type": "richtext",
      "id": "newsletter_form_subheading",
      "label": {
        "de": "Untertitel für Newsletter-Formular",
        "en": "Newsletter form subheading",
        "es": "Subtítulo del formulario del boletín",
        "fr": "Sous-titre du formulaire de la newsletter",
        "it": "Sottotitolo del modulo della newsletter",
        "ja": "メールマガジンフォームの小見出し",
        "pt-BR": "Subtítulo do formulário da newsletter"
      },
      "default": {
        "de": "<p>Werbeaktionen, neue Produkte und Sonderangebote. Direkt in Ihrem Posteingang.</p>",
        "en": "<p>Promotions, new products and sales. Directly to your inbox.</p>",
        "es": "<p>Promociones, nuevos productos y ventas. Directamente a tu bandeja de entrada.</p>",
        "fr": "<p>Promotions, nouveaux produits et soldes. Directement dans votre boîte de réception.</p>",
        "it": "<p>Promozioni, nuovi prodotti e offerte. Direttamente nella tua inbox.</p>",
        "ja": "<p>プロモーション、新商品、セールについて、あなたの受信箱に直接知らせる。</p>",
        "pt-BR": "<p>Promoções, novos produtos e vendas. Diretamente para sua caixa de entrada.</p>"
      }
    },
    {
      "type": "text",
      "id": "newsletter_placeholder",
      "label": {
        "de": "Beschriftungstext für Newsletter",
        "en": "Newsletter label text",
        "es": "Texto de la etiqueta del boletín",
        "fr": "Texte de l'étiquette de la newsletter",
        "it": "Testo etichetta newsletter",
        "ja": "メールマガジンラベルのテキスト",
        "pt-BR": "Texto de etiqueta da newsletter"
      },
      "default": {
        "de": "E-Mail-Adresse",
        "en": "Email address",
        "es": "Dirección de correo electrónico",
        "fr": "Adresse e-mail",
        "it": "Indirizzo email",
        "ja": "メールアドレス",
        "pt-BR": "E-mail"
      }
    },
    {
      "type": "text",
      "id": "newsletter_button_text",
      "label": {
        "de": "Beschriftung für Newsletter-Schaltfläche",
        "en": "Newsletter Button label",
        "es": "Etiqueta del botón del boletín",
        "fr": "Texte du bouton de la newsletter",
        "it": "Etichetta pulsante newsletter",
        "ja": "メールマガジンボタンのラベル",
        "pt-BR": "Etiqueta do botão da newsletter"
      },
      "default": {
        "de": "Eingabe",
        "en": "Submit",
        "es": "Enviar",
        "fr": "Envoyer",
        "it": "Invia",
        "ja": "送信",
        "pt-BR": "Enviar"
      }
    },
    {
      "type": "header",
      "content": {
        "de": "Social Sharing",
        "en": "Social sharing",
        "es": "Compartir en redes sociales",
        "fr": "Partage social",
        "it": "Condivisione sui social",
        "ja": "ソーシャル共有",
        "pt-BR": "Compartilhamento social"
      }
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": {
        "de": "Buttons für Social Media anzeigen",
        "en": "Show social sharing buttons",
        "es": "Mostrar botones para compartir en redes sociales",
        "fr": "Afficher les boutons de partage sur les médias sociaux",
        "it": "Mostra i pulsanti per la condivisione sui social",
        "ja": "ソーシャル共有ボタンを表示する",
        "pt-BR": "Exibir botões de compartilhamento em redes sociais"
      },
      "default": true
    },
    {
      "type": "text",
      "id": "social_message",
      "label": {
        "de": "Überschrift für Social-Sharing-Schaltflächen",
        "en": "Social sharing buttons heading",
        "es": "Título de botones para compartir en redes sociales",
        "fr": "Titre des boutons de partage social",
        "it": "Titolo dei pulsanti per la condivisione sui social",
        "ja": "ソーシャル共有ボタンの見出し",
        "pt-BR": "Título dos botões de compartilhamento social"
      },
      "default": {
        "de": "Weitersagen",
        "en": "Spread the word",
        "es": "Riega la voz",
        "fr": "Faites passer le mot",
        "it": "Spargi la voce",
        "ja": "情報を広く伝えましょう",
        "pt-BR": "Divulgue a novidade"
      }
    }
  ]
}
{% endschema %}
